<%= simple_form_for(@contact) do |f| %>
    <%= f.input :name, autofocus: true %>
    <br>
    <%= f.label :contact_photo, "Add Photo" %>
    <%= f.file_field :contact_photo %>
    <br>
    <br>
    <%= f.button :submit %>
    <br>
    <div class'large-4 columns' id="map-new-contact"></div>
    <% f.input :latitude, readonly: true %>
    <% f.input :longitude, readonly: true %>
<% end %>