<div class='row'>
  <div class='small-10 large-10'>
    <h1><%= link_to "Contacts", root_path %></h1>

    <%= form_for('search', method: 'get') do %>
      <%= text_field_tag(:keyword) %>
      <%= submit_tag('Search', class: 'button') %>
    <% end %>

<br>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Fact Count</th>
          <th>Met them on</th>
          <th>Display</th>
          <th>Add Fact</th>
        </tr>
      </thead>

<div class="panel callout radius">
  <% if @contacts.count == @all_contacts.count %>
    <h5><%= "Displaying All Contacts "%></h5>
  <% else %>
    <h5><%= "Search returned #{@contacts.count} contacts "%></h5>
  <% end %>
</div>

      <tbody>
        <% @contacts.each do |contact| %>
          <tr>
            <td><%= contact.name %></td>
            <td><%= contact.facts.count %></td>
            <td><%= contact.created_at.strftime(' %I:%M%P  %B %d,  %Y') %></td>
            <td><%= link_to "Display", contact_path(contact) %></td>
            <td><%= link_to "Add Fact", new_contact_fact_path(contact) %></td>
          </tr>
          <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to "New Contact", new_contact_path %>
  </div>
</div>