<div class'row small-10'>
  <div class='small-12 large-3 inline left search-bar'>
    <h1><%= link_to "Contacts", root_path %></h1>
      <%= form_for('search', method: 'get') do %>
      <%= text_field_tag(:keyword) %>
      <div class='search-links'>
      <%= submit_tag('Search', class: 'button') %>
      <% end %>
      <%= link_to "New Contact", new_contact_path, class: 'button' %>
    </div>
    <div class="panel callout radius">
      <% if @contacts.count == @all_contacts.count %>
      <h5><%= "Displaying All Contacts: #{@contacts.count} "%></h5>
      <% else%>
      <h5><%= "Search returned #{@contacts.count} contacts "%></h5>
      <% end%>
    </div>
  </div>

  <div class>
    <table class='small-12 large-9 centered'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Fact Count</th>
          <th>Met them on</th>
          <th>Add Fact</th>
<!--           <th>Actions</th> -->
        </tr>
      </thead>
      <div>
        <tbody>
          <% @contacts.each do |contact|%>
          <tr>
            <td><%= link_to "#{contact.name}", contact_path(contact) %></td>
            <td><%= contact.facts.count %></td>
            <td><%= contact.created_at.strftime(' %I:%M%P  %B %d,  %Y') %></td>
            <td class=''><a href="#" data-reveal-id="modal_contact_<%= contact.id %>">Add Fact</a></td>
<!--             <td class='java-button'><%= link_to "Hide hello world"%></td> -->
          </tr>
          <div id="modal_contact_<%= contact.id %>" class="reveal-modal" data-reveal>
            <h2><%= "#{contact.name}"%></h2>
            <%= simple_form_for([contact, Fact.new], html: { class: 'new_fact_form' }) do |f| %>
              <%= f.input :fact, autofocus: true %>
              <%= f.button :submit %>
            <% end %>
            <a class="close-reveal-modal">&#215;</a>
          </div>
          <% end%>
        </tbody>
      </div>
    </table>
    <br>
<!--   </div>
    <div class='java-fact row'>
    <h3 class='small-8 collumns'>Hello world</h3>
  </div>
</div> -->

<div class='row'>
  <div class='small-12 columns centered'>
    <div>created by<%= link_to ' Paul Dornfeld','http://www.pauldornfeld.co'%></div>
    <br>
    <div>please contribute to the <%= link_to ' Github Repository','https://github.com/pdornfel/contact_cake' %></div>
  </div>
</div>




