<h1>Your Contact</h1>
<div class='top-bar'>
  <ul>
    <li><%= link_to "All Contacts", contacts_path %></li>
    <li><%= link_to "Edit Contact", edit_contact_path %></li>
  </ul>
</div>
<br>
<div>
  <h3><%="#{@contact.name}" %></h3>
</div>
<br>
<%= link_to "Add Fact", new_contact_fact_path(@contact) %>
<br>
<br>
<% @contact.facts.each do |fact| %>
  <h4><%= fact.fact %><br></h4>

<% end %>






