<h1><%= @contact.name %></h1>

<ul class="clearing-thumbs, large-2" data-clearing>
  <li><%= image_tag(@contact.contact_photo,size: "180x180")  %></li>
</ul>
  <ul>
<br>
    <li><%= link_to "All Contacts", contacts_path %></li>
    <li><%= link_to "Edit Contact", edit_contact_path %></li>
    <li><%= link_to "Add Fact", new_contact_fact_path(@contact) %></li>
  </ul>

<h5>Facts:</h5>

<% @contact.facts.each do |fact| %>
  <h4><%= fact.fact %></h4>
  <%= link_to "Edit Fact", edit_contact_fact_path(@contact.id, fact) %>
  <br><br>
<% end %>









