<div class='row small-10 centered'>
  <div class='small-10 large-10'>

    <%= simple_form_for(@user_inquiry) do |f| %>
      <% if !user_signed_in? %>
      <br>
      <br>
        <%= f.input :email, label: "Your Email" %>
        <%= f.input :first_name, label: "First Name" %>
        <%= f.input :last_name, label: "Last Name" %>
        <%= f.input :subject %>
        <%= f.input :description %>
      <% else %>
      <br>
      <br>
        <%= f.input :subject %>
        <%= f.input :description %>
      <% end %>
      <%= f.button :submit, "Submit" %>
    <% end %>
  </div>
</div>